/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.bordr{
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 20px;
    min-height: 200px;
}

.light{
    color: white;
}

.title {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.spacing {
    margin-left: 10px;
    padding: 5px 15px;
}